/target
/src/anagram
/src/arrayproduct
/src/avgpair
/src/bubblesort
/src/binarysearch
/src/duplicate
/src/factorialrecursion
/src/insertionsort
/src/maxsubarraysum
/src/mergeSort
/src/palindrome_recursion
